<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JNDI -->
		<property name="connection.datasource">java:comp/env/jdbc/OmsDS</property>

		<!--方言-->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!--是否显示及格式化SQL-->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!--生成数据表策略-->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!--<property name="hibernate.current_session_context_class">thread</property>-->

		<!--映射数据库表-->
		<mapping class="com.chinadrtv.itom.model.Djsaa"/>
		<mapping class="com.chinadrtv.itom.model.UserInfo"/>
		<!--<mapping resource="Djsaa.hbm.xml"/>-->
	</session-factory>
</hibernate-configuration>
